<div class="mat-body">
    <div class="mat-page">
        <div class="container">
            <mat-card class="personal-info-card" id="errorCard">
                <div class="main-image">
                    <!-- <img mat-card-image src="/assets/img/center.png" alt="Photo of a group member"> -->
                    <img mat-card-image src="/assets/img/error403.png" alt="Error 404 not found">
                </div>
                <mat-card-content>
                  <h3>Bạn không có quyền truy cập vào trang này</h3>
                </mat-card-content>
                <mat-card-actions>   
                    <button mat-raised-button color="primary" id="cc"><a routerLink="/">Quay về trang chủ</a></button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

