.fw-600 {
  font-weight: 600;
}

:host ::ng-deep .mat-card-header-text {
  margin-left: 0 !important;
}

.account-info, .account-rate {
  .info-content {
    h5 {
      font-size: 18px;
      font-weight: 500;
      color: gray;
    }
    p {
      color: #17A2B8;
    }
  }
}