<div class="mt-2r">
  <mat-spinner *ngIf="!selectedAccount" mode="indeterminate" class="body-spinner"></mat-spinner>
  <div class="container">
    <div class="account-info">
      <div class="info-content row">
        <div class="col-md-5">
          <h5>Số tài khoản</h5>
          <p>{{selectedAccount.accountId}}</p>
          <h5>Loại tài khoản</h5>
          <p>{{selectedAccount.accountType === 0 ? 'Thanh toán' : 'Tiết kiệm'}}</p>
          <h5>Kỳ hạn</h5>
          <p>{{selectedAccount.accountType === 1 ? selectedAccount.term + ' tháng' : 'Không có'}}</p>
        </div>
        <div class="col-md-4">
          <h5>Số dư</h5>
          <p>{{selectedAccount.balance | currency: selectedAccount.currencyType}}</p>
          <h5>Đơn vị tiền</h5>
          <p>{{selectedAccount.currencyType}}</p>
        </div>
        <div class="col-md-3">
          <h5>Tình trạng</h5>
          <p>{{selectedAccount.status === 1 ? 'Mở' : 'Đóng'}}</p>
          <h5>Ngày mở</h5>
          <p>{{selectedAccount.openedDate}}</p>
          <h5>Ngày đóng</h5>
          <p>{{selectedAccount.closedDate || 'Không có'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>