<div class="mat-body">
  <div class="mat-page">
    <div class="main-title">
      <h1>Địa chỉ và thông tin liên lạc</h1>
    </div>
    <div class="container">
      <!-- <agm-map [zoom]="zoomvalue" [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map> -->
          <div class="map-container">
            <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Tr%C6%B0%E1%BB%9Dng%20%C4%90%E1%BA%A1i%20h%E1%BB%8Dc%20Khoa%20h%E1%BB%8Dc%20T%E1%BB%B1%20nhi%C3%AAn%20-%20%C4%90%E1%BA%A1i%20h%E1%BB%8Dc%20Qu%E1%BB%91c%20Gia%20TP.HCM&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          </div>
          <div class="seperator"></div>
          <div class="text-container">
            <h5>Địa chỉ</h5>
              <p>227 Đường Nguyễn Văn Cừ, Phường 4, Quận 5, Hồ Chí Minh</p>
               <mat-divider></mat-divider>
            <h5>Thông tin liên lạc</h5>
              <p>Email:admin@whitefoo.com</p>
              <p>Phone:(+84) 1234567890</p>
               <mat-divider></mat-divider>
            <h5>Giờ làm việc</h5>
              <p>Sáng :  08:00 - 11:30</p>
              <p>Chiều: 13:00 - 17:00</p>
               <mat-divider></mat-divider>
            <h5>Lịch làm việc</h5>
              <p>Thứ 2 - Thứ 7 (Hàng tuần)</p>
              <p>Ngày chủ nhật sẽ chỉ diễn ra các giao dịch trực tuyến.</p>
              <p>Nghỉ vào các dịp lễ lớn và lễ lao động trong năm</p>
          </div>      
    </div>
    <div class="redirector">
      <button mat-button>
          <a routerLink="/policy">Tìm hiểu về các chính sách khác &#8594;</a>
      </button>
    </div>
  </div>
</div>
