<div class="container">
  <div class="featured-cards">
    <div class="featured-cards-inner">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
          <div class="single-featured-card">
            <h5>Dễ Dàng</h5>
            <p>Chuyển tiền trong và ngoài ngân hàng một cách dễ dàng và nhanh chóng với mức phí phù hợp.</p>
            <a href="#" class="read-more">Xem thêm</a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
          <div class="single-featured-card">
            <div class="icon"><i class="flaticon-shield"></i></div>
            <h5>Chất Lượng</h5>
            <p>Các dịch vụ của WhiteFoo Bank sẽ mang đến cho bạn những gì tốt nhất hiện có, và nhiều ưu đãi.</p>
            <a href="#" class="read-more">Xem thêm</a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
          <div class="single-featured-card">
            <h5>Nhanh Chóng</h5>
            <p>Giao dịch diễn ra trong vòng chưa đến 5 giây kể từ khi xác nhận thanh toán, trực tiếp đến người nhận.</p>
            <a href="#" class="read-more">Xem thêm</a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
          <div class="single-featured-card">
            <h5>Bảo Mật</h5>
            <p>Thông tin giao dịch luôn được mã hóa để giúp dữ liệu của bạn luôn được an toàn, không bị đánh cắp.</p>
            <a href="#" class="read-more">Xem thêm</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>