<div class="mat-body">
    <div class="mat-page">
        <div class="container">
            <h4>Bảng quy định lãi suất của tài khoản tiết kiệm</h4>
            <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td rowspan="3">Kỳ hạn đăng ký</td>
                    <td rowspan="3">Mức gửi (VND/USD)</td>
                    <td colspan="3">Áp dụng cho VND/USD</td>
                  </tr>              
                  <tr>
                    <td colspan="2">Lãi trước kì hạn</td>
                    <td >Lãi đúng kì hạn</td>
                  </tr>
                  <tr>
                    <td>Lãi hàng tháng</td>
                    <td>Lãi hàng quý</td>
                    <td>Lãi cuối kỳ</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>3 tháng</td>
                    <td>Không quy định</td>
                    <td>3.5%</td>
                    <td>0%</td>
                    <td>4.0%</td>
                  </tr>
                  <tr>
                    <td>6 tháng</td>
                    <td>Không quy định</td>
                    <td>3.75%</td>
                    <td>4.0%</td>
                    <td>4.25%</td>
                  </tr>
                  <tr>
                    <td>12 tháng</td>
                    <td>Không quy định</td>
                    <td>4.0%</td>
                    <td>4.25%</td>
                    <td>5%</td>
                  </tr>
                  <tr>
                    <td>18 tháng</td>
                    <td>Không quy định</td>
                    <td>4.25%</td>
                    <td>4.5%</td>
                    <td>5.25%</td>
                  </tr>
                  <tr>
                    <td>24 tháng</td>
                    <td>Không quy định</td>
                    <td>5.0%</td>
                    <td>5.25%</td>
                    <td>6.25%</td>
                  </tr>
                  <tr>
                    <td>30 tháng</td>
                    <td>Không quy định</td>
                    <td>5.25%</td>
                    <td>5.5%</td>
                    <td>6.75%</td>
                  </tr>
                  <tr>
                    <td>36 tháng</td>
                    <td>Không quy định</td>
                    <td>5.75%</td>
                    <td>6.0%</td>
                    <td>7.5%</td>
                  </tr>
                </tbody>
              </table>
              <h4>Bảng quy định phí của tài khoản thanh toán</h4>
              <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="2">Chuyển nội bộ</th>       
                        <th colspan="2">Chuyển liên ngân hàng</th> 
                    </tr>
                    <tr>
                        <th>Mức chuyển (VND)</th>       
                        <th>Phí chuyển khoản (VND)</th> 
                        <th>Mức chuyển (VND)</th>
                        <th>Phí chuyển khoản (VND)</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>20 nghìn ≤ X < 500 nghìn</td>
                        <td>Miễn phí</td>
                        <td>20 nghìn ≤ X < 500 nghìn</td>
                        <td>7000</td>
                    </tr>    	
                    <tr>
                        <td>20 nghìn ≤ X < 500 nghìn</td>
                        <td>5000</td>
                        <td>20 nghìn ≤ X < 500 nghìn</td>
                        <td>10000</td>
                    </tr>    	
                    <tr>
                        <td>20 nghìn ≤ X < 500 nghìn</td>
                        <td>0.05%</td>
                        <td>20 nghìn ≤ X < 500 nghìn</td>
                        <td>0.2%</td>
                    </tr>    	
                    <tr>
                        <td>20 nghìn ≤ X < 500 nghìn</td>
                        <td>0.07%</td>
                        <td>20 nghìn ≤ X < 500 nghìn</td>
                        <td>0.3%</td>
                    </tr>    	
                    <tr>
                        <td>20 nghìn ≤ X < 500 nghìn</td>
                        <td>0.01%</td>
                        <td>20 nghìn ≤ X < 500 nghìn</td>
                        <td>0.4%</td>
                    </tr>    	
                </tbody>
              </table>
              <h4>Bảng quy định chuyển đổi ngoại tệ của tài khoản thanh toán khi nhận tiền (bên chuyển sẽ chịu phí)</h4>
              <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Đơn vị tiền tệ bên chuyển</th>       
                        <th>Đơn vị tiền tệ bên nhận</th> 
                        <th>Phí</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>VND</td>
                        <td>USD</td>
                        <td>0.5%</td>
                    </tr>   
                    <tr>
                        <td>USD</td>
                        <td>VND</td>
                        <td>0.5%</td>
                    </tr>   
                </tbody>
              </table>
              <h4>Bảng quy định giới hạn của tài khoản thanh toán</h4>
              <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Đơn vị</th>       
                        <th>Mức chuyển cho phép tối đa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mỗi cuộc giao dịch	</td>
                        <td>200 triệu</td>
                    </tr>   
                    <tr>
                        <td>Ngày</td>
                        <td>500 triệu</td>
                    </tr>  
                    <tr>
                        <td>Tháng</td>
                        <td>10 tỷ</td>
                    </tr>   
                </tbody>
              </table>
              <h4>Các lưu ý về lãi xuất và rút tài khoảng tiết kiệm</h4>
              <textarea readonly>
Ví dụ người dùng chọn mốc kỳ hạn 12 tháng, gửi 10’000’000 VND:
1 năm: 365 ngày
1 quý: 91.25 ngày

TH1: Khi gửi được qua 60 ngày thì rút -> chưa tới mốc quý và chưa tới mốc cuối kỳ:
Số ngày qua: 60
4% = 0.04
Tiền lãi = (0.04/365)* Số ngày qua *vốn = (0.04/365)*60*10000000 = 65753.4246575342465753

TH2: Khi gửi được qua 120 ngày thì rút -> qua mốc quý 1 lần và chưa tới mốc cuối kỳ:
Số quý qua: 1
Số ngày qua: Tổng số ngày qua - số quý*91.25 = 120 -91.25 = 28.75
4% = 0.04
4.25%= 0.0425
Tiền lãi = ((0.045/365)* Số quý qua *91.25 *vốn) + ((0.04/365)*số ngày qua*vốn) 
= ((0.045/365)* 1*91.25 *10000000) + ((0.04/365)* 28.75*10000000) = 143732.8767123287671233    

TH3: rút đúng kỳ hạn (vừa qua 365 ngày – 12 tháng): -> tới mốc kỳ, ko tới qua tháng hay quý tiếp theo
Số kỳ hạn qua: 1
Tổng số ngày qua: 365
5%=0.05
Tiền lãi = (0.05/365)*số kỳ hạn*365*vốn = (0.05/365)*1*365*10000000 = 500000
              </textarea>
        </div>
        <br>
    </div>
</div>
