<div class="mat-body">
  <div class="page-container" *ngIf="shouldRun">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sideNav mode="over" class="sidenav">
        <mat-toolbar class="sidenav-toolbar">
          <button mat-icon-button (click)="sideNav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <a class="app-title" routerLink="/">
            <img src="/assets/img/whitefoologohead.png" alt="logo">
            <img src="/assets/img/whitefoologocap.png" alt="logo">
          </a>
        </mat-toolbar>
        <app-mat-sidenav></app-mat-sidenav>
      </mat-sidenav>
      <mat-sidenav-content>
        <app-mat-header></app-mat-header>
        <div class="mat-page">
          <router-outlet></router-outlet>
        </div>
        <app-mat-footer></app-mat-footer>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>