<header>
  <div class="navbar-area">
    <div class="luvion-nav">
      <div class="container">
        <nav id="staticNavbar" class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" routerLink="/">
            <img src="/assets/img/whitefoologohead.png" alt="logo">
            <img src="/assets/img/whitefoologocap.png" alt="logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/">Trang chủ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="[{ outlets: { primary: ['about'], header: ['matheader'], footer: ['matfooter'] } }]">Thông tin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="[{ outlets: { primary: ['faq'], header: ['matheader'], footer: ['matfooter'] } }]">Hỏi đáp</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="[{ outlets: { primary: ['contact'], header: ['matheader'], footer: ['matfooter'] } }]">Liên hệ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="[{ outlets: { primary: ['login'], header: ['matheader'], footer: ['matfooter'] } }]">Đăng nhập</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>