.navbar-area {
    position: absolute;
    height: auto;
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    &.sticky {
        left: 0;
        top: 0;
        width: 100%;
        z-index: 999;
        transition: .5s;
        position: fixed;
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .06);
        background-color: #fff !important;
        -webkit-animation: fadeInDown .5s ease-in-out 0s 1 normal none running;
        animation: fadeInDown .5s ease-in-out 0s 1 normal none running;
        .navbar-brand {
            img {
                &:first-child {
                    display: none;
                }
                &:nth-child(2) {
                    display: block;
                }
            }
        }
        .luvion-nav {
            background-color: #fff;
            .navbar {
                .navbar-nav {
                    .nav-item {
                        a {
                            color: #212529;
                            &:focus {
                                color: #ee0979;
                            }
                            &:hover {
                                color: #ee0979;
                            }
                        }
                        &:hover {
                            a {
                                color: #ee0979;
                            }
                        }
                        a.active {
                            color: #ee0979;
                        }
                        .dropdown-menu {
                            li {
                                a {
                                    color: #212529;
                                    &:focus {
                                        color: #ee0979;
                                    }
                                    &:hover {
                                        color: #ee0979;
                                    }
                                }
                                a.active {
                                    color: #ee0979;
                                }
                                .dropdown-menu {
                                    li {
                                        a {
                                            color: #212529;
                                            &:focus {
                                                color: #ee0979;
                                            }
                                            &:hover {
                                                color: #ee0979;
                                            }
                                        }
                                        a.active {
                                            color: #ee0979;
                                        }
                                        .dropdown-menu {
                                            li {
                                                a {
                                                    color: #212529;
                                                    &:focus {
                                                        color: #ee0979;
                                                    }
                                                    &:hover {
                                                        color: #ee0979;
                                                    }
                                                }
                                                a.active {
                                                    color: #ee0979;
                                                }
                                                .dropdown-menu {
                                                    li {
                                                        a {
                                                            color: #212529;
                                                            &:focus {
                                                                color: #ee0979;
                                                            }
                                                            &:hover {
                                                                color: #ee0979;
                                                            }
                                                        }
                                                        a.active {
                                                            color: #ee0979;
                                                        }
                                                        .dropdown-menu {
                                                            li {
                                                                a {
                                                                    color: #212529;
                                                                    &:focus {
                                                                        color: #ee0979;
                                                                    }
                                                                    &:hover {
                                                                        color: #ee0979;
                                                                    }
                                                                }
                                                                a.active {
                                                                    color: #ee0979;
                                                                }
                                                                .dropdown-menu {
                                                                    li {
                                                                        a {
                                                                            color: #212529;
                                                                            &:focus {
                                                                                color: #ee0979;
                                                                            }
                                                                            &:hover {
                                                                                color: #ee0979;
                                                                            }
                                                                        }
                                                                        a.active {
                                                                            color: #ee0979;
                                                                        }
                                                                        .dropdown-menu {
                                                                            li {
                                                                                a {
                                                                                    color: #212529;
                                                                                    &:focus {
                                                                                        color: #ee0979;
                                                                                    }
                                                                                    &:hover {
                                                                                        color: #ee0979;
                                                                                    }
                                                                                }
                                                                                a.active {
                                                                                    color: #ee0979;
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                    li.active {
                                                                        a {
                                                                            color: #ee0979;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                            li.active {
                                                                a {
                                                                    color: #ee0979;
                                                                }
                                                            }
                                                        }
                                                    }
                                                    li.active {
                                                        a {
                                                            color: #ee0979;
                                                        }
                                                    }
                                                }
                                            }
                                            li.active {
                                                a {
                                                    color: #ee0979;
                                                }
                                            }
                                        }
                                    }
                                    li.active {
                                        a {
                                            color: #ee0979;
                                        }
                                    }
                                }
                            }
                            li.active {
                                a {
                                    color: #ee0979;
                                }
                            }
                        }
                    }
                    .nav-item.active {
                        a {
                            color: #ee0979;
                        }
                    }
                }
                .others-options {
                    .login-btn {
                        color: #212529;
                        &:hover {
                            color: #ee0979;
                        }
                        i {
                            color: #ee0979;
                        }
                    }
                }
            }
        }
    }
    &, .sticky {
        left: 0;
        top: 0;
        width: 100%;
        z-index: 10;
        transition: 0.5s
    }
    .navbar-brand img {
        &:first-child {
            display:none
        }
    }
    .navbar-collapse {
        .navbar-nav {
            .nav-item {
                a {
                    color: #ffffff;
                }
            }
        }
    }
}

.luvion-nav {
	background-color: transparent;
	padding: 0;
	.navbar {
		padding: 0;
		ul {
			padding-left: 0;
			list-style-type: none;
			margin-bottom: 0;
		}
		.navbar-nav {
			font-family: sans-serif;
			margin-left: auto;
			.nav-item {
				position: relative;
				padding: 10px 0;
				a {
					font-size: 17px;
					font-weight: 400;
					color: #fff;
					padding: 0;
					margin-left: 15px;
					margin-right: 15px;
					&:focus {
						color: #ee0979;
					}
					&:hover {
						color: #ee0979;
					}
					i {
						font-size: 10px;
						margin-left: 1px;
					}
				}
				a.active {
					color: #ee0979;
				}
				&:last-child {
					a {
						margin-right: 0;
					}
				}
				&:first-child {
					a {
						margin-left: 0;
					}
				}
				&:hover {
					a {
						color: #ee0979;
					}
					.dropdown-menu {
						opacity: 1;
						visibility: visible;
						top: 100%;
					}
				}
				.dropdown-menu {
					box-shadow: 0 0 30px 0 rgba(0, 0, 0, .05);
					background: #fff;
					position: absolute;
					border: none;
					top: 80px;
					left: 0;
					width: 250px;
					z-index: 99;
					display: block;
					opacity: 0;
					visibility: hidden;
					border-radius: 5px;
					transition: all .3s ease-in-out;
					padding: 20px 5px;
					li {
						padding: 0;
						a {
							padding: 7px 15px;
							margin: 0;
							color: #212529;
							font-size: 15px;
							font-weight: 400;
							&:focus {
								color: #ee0979;
							}
							&:hover {
								color: #ee0979;
							}
						}
						a.active {
							color: #ee0979;
						}
						.dropdown-menu {
							left: -250px;
							top: 0;
							opacity: 0;
							visibility: hidden;
							li {
								a {
									color: #212529;
									&:focus {
										color: #ee0979;
									}
									&:hover {
										color: #ee0979;
									}
								}
								a.active {
									color: #ee0979;
								}
								.dropdown-menu {
									left: 220px;
									top: 0;
									opacity: 0;
									visibility: hidden;
									li {
										a {
											color: #212529;
											&:focus {
												color: #ee0979;
											}
											&:hover {
												color: #ee0979;
											}
										}
										a.active {
											color: #ee0979;
										}
										.dropdown-menu {
											left: -250px;
											top: 0;
											opacity: 0;
											visibility: hidden;
											li {
												a {
													color: #212529;
													&:focus {
														color: #ee0979;
													}
													&:hover {
														color: #ee0979;
													}
												}
												a.active {
													color: #ee0979;
												}
												.dropdown-menu {
													left: -250px;
													top: 0;
													opacity: 0;
													visibility: hidden;
													li {
														a {
															color: #212529;
															&:focus {
																color: #ee0979;
															}
															&:hover {
																color: #ee0979;
															}
														}
														a.active {
															color: #ee0979;
														}
														.dropdown-menu {
															left: -250px;
															top: 0;
															opacity: 0;
															visibility: hidden;
															li {
																a {
																	color: #212529;
																	&:focus {
																		color: #ee0979;
																	}
																	&:hover {
																		color: #ee0979;
																	}
																}
																a.active {
																	color: #ee0979;
																}
																.dropdown-menu {
																	left: -250px;
																	top: 0;
																	opacity: 0;
																	visibility: hidden;
																	li {
																		a {
																			color: #212529;
																			&:focus {
																				color: #ee0979;
																			}
																			&:hover {
																				color: #ee0979;
																			}
																		}
																		a.active {
																			color: #ee0979;
																		}
																	}
																}
																&:hover {
																	.dropdown-menu {
																		opacity: 1;
																		visibility: visible;
																		top: -15px;
																	}
																}
															}
															li.active {
																a {
																	color: #ee0979;
																}
															}
														}
														&:hover {
															.dropdown-menu {
																opacity: 1;
																visibility: visible;
																top: -15px;
															}
														}
													}
													li.active {
														a {
															color: #ee0979;
														}
													}
												}
												&:hover {
													.dropdown-menu {
														opacity: 1;
														visibility: visible;
														top: -15px;
													}
												}
											}
											li.active {
												a {
													color: #ee0979;
												}
											}
										}
										&:hover {
											.dropdown-menu {
												opacity: 1;
												visibility: visible;
												top: -15px;
											}
										}
									}
									li.active {
										a {
											color: #ee0979;
										}
									}
								}
								&:hover {
									.dropdown-menu {
										opacity: 1;
										visibility: visible;
										top: -15px;
									}
								}
							}
							li.active {
								a {
									color: #ee0979;
								}
							}
						}
						&:hover {
							.dropdown-menu {
								opacity: 1;
								visibility: visible;
								top: -15px;
							}
						}
					}
					li.active {
						a {
							color: #ee0979;
						}
					}
				}
			}
			.nav-item.active {
				a {
					color: #ee0979;
				}
			}
		}
		.others-options {
			margin-left: 25px;
			.login-btn {
				color: #fff;
				font-size: 17px;
				font-weight: 400;
				font-family: sans-serif;
				i {
					margin-right: 2px;
					color: #eae563;
				}
				&:hover {
					color: #ee0979;
				}
			}
		}
	}
}

@media only screen and (max-width: 991px) {
	.navbar-area {
		border-bottom: 1px solid hsla(0, 0%, 100%, .09);
		background-color: #fff;
		padding-top: 15px;
		padding-bottom: 15px;
		.navbar-brand {
			img {
				&:first-child {
					display: none;
				}
				&:nth-child(2) {
					display: block;
				}
			}
		}
		.luvion-nav {
			.navbar {
				.navbar-nav {
					.nav-item {
						a {
							color: #212529;
						}
					}
				}
				.others-options {
					.login-btn {
						color: #212529;
					}
				}
			}
		}
	}
	.navbar-area.is-sticky {
		border-bottom: none;
		box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .1);
	}
}

@media only screen and (max-width: 768px) {
	.navbar-area {
		box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .1);
		.luvion-nav {
			.navbar {
				.navbar-collapse {
					border-top: 1px solid #eee;
					padding-top: 10px;
					margin-top: 10px;
					overflow-y: auto;
				}
				.navbar-nav {
					.nav-item {
						padding-top: 6px;
						padding-bottom: 6px;
						a {
							font-size: 15px;
						}
						&:first-child {
							>a {
								margin-left: 15px;
							}
						}
						.dropdown-menu {
							padding-top: 15px;
							padding-bottom: 15px;
							li {
								a {
									&:first-child {
										margin-left: 0;
									}
								}
							}
						}
					}
				}
				.others-options {
					margin-left: 15px;
					.login-btn {
						font-size: 15px;
					}
				}
			}
		}
	}
}