<div class="container">
  <div class="featured-cards">
    <div class="featured-cards-inner">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
          <div class="single-featured-card">
            <div class="icon color-fb7756">
              <i><fa-icon [icon]="faPiggyBank"></fa-icon></i>
            </div>
            <h3>Tiết kiệm</h3>
            <p>Chuyển tiền trong và ngoài ngân hàng một cách dễ dàng và nhanh chóng với mức phí phù hợp.</p>
            <a routerLink="/exchangerate" class="read-more">Xem thêm</a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
          <div class="single-featured-card">
            <div class="icon color-facd60">
              <i><fa-icon [icon]="faChartLine"></fa-icon></i>
            </div>
            <h3>Chất Lượng</h3>
            <p>Các dịch vụ của WhiteFoo Bank sẽ mang đến cho bạn những gì tốt nhất hiện có, và nhiều ưu đãi.</p>
            <a routerLink="/policy" class="read-more">Xem thêm</a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
          <div class="single-featured-card">
            <div class="icon color-1ac0c6">
              <i><fa-icon [icon]="faWallet"></fa-icon></i>
            </div>
            <h3>Nhanh Chóng</h3>
            <p>Giao dịch diễn ra chưa đến 5 giây kể từ lúc xác nhận thanh toán, chuyển trực tiếp đến người nhận.</p>
            <a routerLink="/services" class="read-more">Xem thêm</a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
          <div class="single-featured-card">
            <div class="icon">
              <i><fa-icon [icon]="faShieldAlt"></fa-icon></i>
            </div>
            <h3>Bảo Mật</h3>
            <p>Thông tin giao dịch luôn được mã hóa để giúp dữ liệu của bạn luôn được an toàn, không bị đánh cắp.</p>
            <a routerLink="/security-policy" class="read-more">Xem thêm</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>