.personal-info-card {
    max-width: 400px;
    background-color: rgba($color: #212121, $alpha: 0.1);
}

.profile-image {
    //background-image: url('../../../assets/img/upper.png');
    background-size: cover;
}

.mat-card-image {
    border-radius: 5px;
    //padding-top: 50px;
    //box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
}

.fe-container {
    display: flex;
}
.be-container { 
    display: flex;
}

#fe02 {
    left: 170px;
}

#be02 {
    left: 170px;
}

#fe01 {
    right: -130px;
}

#be01 {
    right: -130px;
}

#facebook-button {
    font-size: 30px;
}
#github-button {
    font-size: 30px;
    a{
        color: black;
    }
}

.project-container {
    text-align: center;
}

.list {
    text-align: center;
}

.backButton .nextButton .restartButton{
    text-align: center;
}  
.stepnav{
    text-align: center;
}
h2{
    text-align: center;
}

[matStepLabel]:hover{
    pointer-events: none;
}

img { 
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }  
}

.profile-image{
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }  
}