<div class="mat-body">
    <div class="mat-page">
      <div class="spacer"></div>
      <h1>Chính sách bảo mật</h1>
      <div class="container">
        <div class="row" id="e1" data-aos="fade-up">
          <div class="col" data-aos="fade-up" id="e1-text">
            <h3>Xác thực danh tính</h3>
            <p>Để đảm bảo phương châm "người thật danh tính thật" , mọi tài khoản sẽ cần phải xác minh bằng chứng minh thư hoặc căn cước công dân.</p>
          </div>
          <div class="col-7" data-aos="fade-up" id="e1-bgi">
            <img src="../../../assets/img/identity.jpg" alt="">
          </div>
        </div>
        <div class="spacer"></div>
        <div class="row" id="e2" data-aos="fade-up">
          <div class="col" data-aos="fade-up" id="e2-text">
            <h3>Xác minh 2 bước</h3>
            <p>Mọi hoạt động sẽ được thông qua xác minh 2 bước nhằm đảm bảo an toàn bảo mật , tránh các trường hợp thao tác lỗi hoặc vô ý.</p>
          </div>
          <div class="col-7" data-aos="fade-up" id="e2-bgi">
            <img src="../../../assets/img/2fa.jpg" alt="">
          </div>
        </div>
        <div class="spacer"></div>
        <div class="row" id="e3" data-aos="fade-up">
          <div class="col" data-aos="fade-up" id="e3-text">
            <h3>Thông báo qua Email</h3>
            <p>Các phiên giao dịch hoặc hoạt động xác thực sẽ được thông báo qua email của khách hàng.</p>
          </div>
          <div class="col-7" data-aos="fade-up" id="e3-bgi">
            <img src="../../../assets/img/email.jpg" alt="">
          </div>
        </div>
        <div class="spacer"></div>
        <div class="row" id="e4" data-aos="fade-up">
          <div class="col" data-aos="fade-up" id="e4-text">
            <h3>Mã hóa thông tin</h3>
            <p>Các thông tin khách hàng , thông tin các phiên giao dịch và mọi quy trình cua các phiên giao dịch đều được mã hóa.Đảm bảo sự an toàn cho mọi dữ liệu của khách hàng.</p>
          </div>
          <div class="col-7" data-aos="fade-up" id="e4-bgi">
            <img src="../../../assets/img/encryption.jpg" alt="">
          </div>
        </div>
        <div class="spacer"></div>
        <div class="redirector" data-aos="fade-up">
          <button mat-button>
              <a href="/policy">Tìm hiểu về các chính sách và điều khoản dành cho khách hàng &#8594;</a>
          </button>
        </div>
      </div>
    </div>
</div>
          