<div class="mat-body">
  <app-matheader></app-matheader>
  <div class="mat-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="signup-image"></div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="signup-form">
            <h2 class="mb-3">ĐĂNG NHẬP</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
              <div>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Email hoặc tên người dùng</mat-label>
                  <input type="text" formControlName="username" matInput>
                  <mat-hint>Sử dụng thông tin mà bạn đã đăng ký</mat-hint>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Mật khẩu</mat-label>
                  <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput>
                  <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-hint>Sử dụng mật khẩu bạn đã đăng ký cho tài khoản</mat-hint>
                </mat-form-field>
              </div>
              <div class="d-flex">
                <div>
                  <a routerLink="/register" mat-button color="primary">Bạn chưa có tài khoản?</a>
                </div>
                <div class="ml-auto">
                  <button type="submit" mat-flat-button color="primary" [disabled]="loading">
                    <span *ngIf="loading"></span>
                    Đăng nhập</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-matfooter></app-matfooter>
</div>