<div class="form-login">
    <div class="mt-4 mb-4 ml-4 mr-4">
        <h3 class="text-center form-header">Đăng Nhập</h3>
        <form>
            <div class="form-group">
                <label class="form-label" for="username">Tên đăng nhập hoặc email</label>
                <input type="text" class="form-control form-input" id="username" name="username">
            </div>
            <div class="form-group">
                <label class="form-label" for="password">Mật khẩu</label>
                <input type="password" class="form-control form-input" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
        </form>
    </div>
</div>