<div class="mat-body">
  <div class="mat-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="signup-image"></div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="signup-form">
            <div class="progress-bar" [class.visible]="loading">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div class="signup-inner">
              <h2 class="mb-3">ĐĂNG KÝ</h2>
              <form [formGroup]="registerForm">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Họ</mat-label>
                      <input type="text" formControlName="firstname" matInput [attr.disabled]="loading ? '' : null">
                      <mat-error *ngIf="firstname.errors?.required">
                        Họ là thông tin <strong>bắt buộc</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Tên</mat-label>
                      <input type="text" formControlName="lastname" matInput [attr.disabled]="loading ? '' : null">
                      <mat-error *ngIf="lastname.errors?.required">
                        Tên là thông tin <strong>bắt buộc</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Ngày sinh</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="dd/mm/yyyy" formControlName="birth" [attr.disabled]="loading ? '' : null">
                    <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="loading"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                    <mat-error *ngIf="birth.errors?.required">
                      Ngày sinh là <strong>bắt buộc</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Tên người dùng</mat-label>
                      <input type="text" formControlName="username" matInput [attr.disabled]="loading ? '' : null">
                      <mat-hint>Dùng để đăng nhập</mat-hint>
                      <mat-error *ngIf="username.errors?.required">
                        Tên người dùng là <strong>bắt buộc</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Số điện thoại</mat-label>
                      <input type="tel" formControlName="tel" matInput [attr.disabled]="loading ? '' : null">
                      <mat-hint>Dùng để xác thực</mat-hint>
                      <mat-error *ngIf="tel.errors?.required">
                        Số điện thoại là <strong>bắt buộc</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Địa chỉ</mat-label>
                    <input type="text" formControlName="address" matInput [attr.disabled]="loading ? '' : null"
                      placeholder="Vd. 227 Đường Nguyễn Văn Cừ, Phường 4, Quận 5, Hồ Chí Minh">
                    <mat-hint>Sử dụng chính xác địa chỉ của bạn</mat-hint>
                    <mat-error *ngIf="address.errors?.required">
                      Địa chỉ là <strong>bắt buộc</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Địa chỉ email</mat-label>
                    <input type="email" formControlName="email" matInput [attr.disabled]="loading ? '' : null">
                    <mat-hint>Tài khoản sẽ được xác thực qua email</mat-hint>
                    <mat-error *ngIf="email.invalid && !email.errors.required">
                      Vui lòng nhập một địa chỉ email hợp lệ
                    </mat-error>
                    <mat-error *ngIf="email.errors?.required">
                      Email là <strong>bắt buộc</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Mật khẩu</mat-label>
                      <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput [attr.disabled]="loading ? '' : null">
                      <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [disabled]="loading"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                      <mat-error *ngIf="password.errors?.required">
                        Mật khẩu là <strong>bắt buộc</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Xác nhận</mat-label>
                      <input [type]="hidePassword ? 'password' : 'text'" formControlName="confirmpassword" matInput [attr.disabled]="loading ? '' : null">
                      <mat-error *ngIf="confirmpassword.errors?.required">
                        Xác nhận mật khẩu là <strong>bắt buộc</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <re-captcha class="recaptcha-badge" formControlName="recaptcha" size="invisible" #captchaRef="reCaptcha" (resolved)="$event && onSubmit($event, registerForm.value)"></re-captcha>
                <div class="recaptcha-policy text-muted">
                  <small>Trang web này được bảo vệ bởi reCAPTCHA cùng với các <a href="https://policies.google.com/privacy">Chính sách bảo mật</a> và <a href="https://policies.google.com/terms">Điều khoản sử dụng</a> từ Google.</small>
                </div>
                <div class="d-flex mt-2">
                  <div>
                    <a routerLink="/login" mat-button color="primary" [disabled]="loading">Đăng nhập</a>
                  </div>
                  <div class="ml-auto">
                    <button (click)="captchaRef.execute()" mat-flat-button color="primary"[disabled]="loading">Đăng ký</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>