.signup-image {
  height: 100%;
  width: 100%;
  //background-image: url(/assets/img/signup-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.signup-form {
  max-width: 500px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  .signup-inner {
    padding: 32px;
  }
  .recaptcha-policy {
    display: none;
  }
}

@media only screen and (max-width: 1080px) {
  .signup-form {
    .recaptcha-policy {
      display: inline;
    }
  }
  .recaptcha-badge {
    visibility: hidden;
  }
}

@media only screen and (max-width: 991px) {
  .signup-form {
    .signup-inner {
      h2 {
        text-align: center;
      }
    }
  }
  .signup-image {
    display: none;
  }
}


.signup-image { 
  animation: fadein 3s;
}
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; } 
}