body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
}

.navbar {
    padding: 12px 16px;
    background: #f8f9fa;
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .1);
}

.navbar-brand {
    img {
        &:first-child {
            height: 25px;
        }
        &:nth-child(2) {
            margin-left: 0.5rem;
            height: 25px;
        }
    }
}

.signup-image {
    margin-top: 2rem;
    height: 95%;
    width: 100%;
    background-image: url(/assets/img/example1080pdark.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.signup-form {
    margin-top: 2rem;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
    border-radius: 10px;
    overflow: hidden;
    .signup-inner {
        padding: 32px;
    }
}

@media only screen and (max-width: 991px) {
    .signup-image {
        display: none;
    }
    .navbar-brand {
        img {
            &:first-child {
                display: none;
            }
            &:nth-child(2) {
                height: 20px;
            }
        }
    }
}