<div class="container">
  <div class="live-rate">
    <h2>Bảng chuyển đổi tiền tệ</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Loại chuyển đổi</th>
          <th scope="col">Giá trị</th>
          <th scope="col">Đơn vị</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>USD > VND</td>
          <td>{{VND}}</td>
          <td>₫</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>VND > USD</td>
          <td>{{USD}}</td>
          <td>$</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>