.container{
  padding-bottom: 25px;
}

.live-rate{
  // box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
  .table{
    border-top: none;
  }
  h2{
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}