<div class="container">
  <div class="live-rate">
    <h2 font-weight-bold>BẢNG CHUYỂN ĐỔI TIỀN TỆ</h2>
      <div class="shadow">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Loại chuyển đổi</th>
              <th scope="col">Giá trị</th>
              <th scope="col">Đơn vị</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>USD > VND</td>
              <td>₫{{VND}}</td>
              <td>VND</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>VND > USD</td>
              <td>${{USD}}</td>
              <td>USD</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>