<div class="mat-body">
    <div class="mat-page">
      <div class="spacer"></div>
      <h1>Dịch vụ</h1>
      <div class="container" data-aos="fade-up">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
          <div class="col">
            <mat-card class="feature-card">
              <mat-card-content>
                <mat-card-title><i id="f1"><fa-icon [icon]="faHandHoldingUsd"></fa-icon></i></mat-card-title>
                <mat-card-subtitle>Giao dịch</mat-card-subtitle>
                <p>
                  Với nhiều chính sách ưu đãi khách hàng, Whitefoo Bank luôn là sự lựa chọn hàng đầu cho mọi giao dịch và tiết kiệm.
                </p>
              </mat-card-content>
              <!-- <mat-card-actions>
                <button mat-button><a href="">Bắt đầu ngay</a></button>                    
                <button mat-button><a href="">Tìm hiểu thêm</a></button>
              </mat-card-actions> -->
            </mat-card>
          </div>
          <div class="col">
            <mat-card class="feature-card">
              <mat-card-content>
                <mat-card-title><i id="f2"><fa-icon [icon]="faPiggyBank"></fa-icon></i></mat-card-title>
                <mat-card-subtitle>Tiết kiệm</mat-card-subtitle>
                <p>
                  Phí giao dịch mang tính cạnh trang với các nhà cung cấp dịch vụ khác trên thị trường.
                </p>
              </mat-card-content>
              <!-- <mat-card-actions>
                <button mat-button><a href="">Bắt đầu ngay</a></button>                    
                <button mat-button><a href="">Tìm hiểu thêm</a></button>
              </mat-card-actions> -->
            </mat-card>
          </div>
          <div class="col">
            <mat-card class="feature-card">
              <mat-card-content>
                <mat-card-title><i id="f3"><fa-icon [icon]="faShieldAlt"></fa-icon></i></mat-card-title>
                <mat-card-subtitle>Bảo mật</mat-card-subtitle>
                <p>
                  Mọi giao dịch sẽ được mã hóa từ phía máy chủ và sẽ thông qua xác minh 2 bước , đảm bảo an toàn tuyệt đối thông tin khách hàng.
                </p>
              </mat-card-content>
              <!-- <mat-card-actions>
                <button mat-button><a href="">Bắt đầu ngay</a></button>                    
                <button mat-button><a href="">Tìm hiểu thêm</a></button>
              </mat-card-actions> -->
            </mat-card>
          </div>
        </div>

      <div class="feature-spacer"></div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
          <div class="col">
            <mat-card class="feature-card">
              <mat-card-content>
                <mat-card-title><i id="f4"><fa-icon [icon]="faBolt"></fa-icon></i></mat-card-title>
                <mat-card-subtitle>Nhanh chóng</mat-card-subtitle>
                <p>
                  Mọi giao dịch chuyển khoản hay thanh toán sẽ hoàn tất chỉ với vài nút bấm , tiền sẽ được chuyển đến bên nhận trong vòng 5 phút kể từ lúc xác nhận.
                </p>
              </mat-card-content>
              <!-- <mat-card-actions>
                <button mat-button><a href="">Bắt đầu ngay</a></button>                    
                <button mat-button><a href="">Tìm hiểu thêm</a></button>
              </mat-card-actions> -->
            </mat-card>
          </div>
          <div class="col">
            <mat-card class="feature-card">
              <mat-card-content>
                <mat-card-title><i id="f5"><fa-icon [icon]="faCubes"></fa-icon></i></mat-card-title>
                <mat-card-subtitle>Đơn giản</mat-card-subtitle>
                <p>
                  Với giao diện trực quan , quy trình nhanh gọn và đơn giản mọi phiên giao dịch sẽ diễn ra mà không gây khó khắn cho khách hàng.
                </p>
              </mat-card-content>
              <!-- <mat-card-actions>
                <button mat-button><a href="">Bắt đầu ngay</a></button>                    
                <button mat-button><a href="">Tìm hiểu thêm</a></button>
              </mat-card-actions> -->
            </mat-card>
          </div>
          <div class="col">
            <mat-card class="feature-card">
              <mat-card-content>
                <mat-card-title><i id="f6"><fa-icon [icon]="faMobileAlt"></fa-icon></i></mat-card-title>
                <mat-card-subtitle>Tiện lợi</mat-card-subtitle>
                <p>
                  Phục vụ 24/7 , mọi giao dịch đều có thể diễn ra mọi lúc mọi nơi phục vụ nhu cầu của khách hàng.
                </p>
              </mat-card-content>
              <!-- <mat-card-actions>
                <button mat-button><a href="">Bắt đầu ngay</a></button>                    
                <button mat-button><a href="">Tìm hiểu thêm</a></button>
              </mat-card-actions> -->
            </mat-card>
          </div>
        </div>
          <div class="redirector">
            <button mat-button><a routerLink="/register" id="startButton">Bắt đầu ngay</a></button>                    
            <button mat-button><a routerLink="/policy" id="learnmoreButton">Tìm hiểu thêm</a></button>
          </div>
      </div>
    </div>
</div>
