<div class="mat-body">
    <div class="mat-page">
      <div class="spacer"></div>
      <h1>Dịch vụ</h1>
      <div class="container" data-aos="fade-up">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
          <div class="col">
            <mat-card class="feature-card">
              <mat-card-content>
                <mat-card-title><i id="f1"><fa-icon [icon]="faHandHoldingUsd"></fa-icon></i></mat-card-title>
                <mat-card-subtitle>Giao dịch</mat-card-subtitle>
                <p>
                  Lorem ipsum dolor sit amet, consectetur sea adipiscing elit. Sed tempus diamet nisl quis ornarod vivamus sem luctus.
                </p>
              </mat-card-content>
              <!-- <mat-card-actions>
                <button mat-button><a href="">Bắt đầu ngay</a></button>                    
                <button mat-button><a href="">Tìm hiểu thêm</a></button>
              </mat-card-actions> -->
            </mat-card>
          </div>
          <div class="col">
            <mat-card class="feature-card">
              <mat-card-content>
                <mat-card-title><i id="f2"><fa-icon [icon]="faPiggyBank"></fa-icon></i></mat-card-title>
                <mat-card-subtitle>Tiết kiệm</mat-card-subtitle>
                <p>
                  Lorem ipsum dolor sit amet, consectetur sea adipiscing elit. Sed tempus diamet nisl quis ornarod vivamus sem luctus.
                </p>
              </mat-card-content>
              <!-- <mat-card-actions>
                <button mat-button><a href="">Bắt đầu ngay</a></button>                    
                <button mat-button><a href="">Tìm hiểu thêm</a></button>
              </mat-card-actions> -->
            </mat-card>
          </div>
          <div class="col">
            <mat-card class="feature-card">
              <mat-card-content>
                <mat-card-title><i id="f3"><fa-icon [icon]="faShieldAlt"></fa-icon></i></mat-card-title>
                <mat-card-subtitle>Bảo mật</mat-card-subtitle>
                <p>
                  Lorem ipsum dolor sit amet, consectetur sea adipiscing elit. Sed tempus diamet nisl quis ornarod vivamus sem luctus.
                </p>
              </mat-card-content>
              <!-- <mat-card-actions>
                <button mat-button><a href="">Bắt đầu ngay</a></button>                    
                <button mat-button><a href="">Tìm hiểu thêm</a></button>
              </mat-card-actions> -->
            </mat-card>
          </div>
        </div>

      <div class="feature-spacer"></div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
          <div class="col">
            <mat-card class="feature-card">
              <mat-card-content>
                <mat-card-title><i id="f4"><fa-icon [icon]="faBolt"></fa-icon></i></mat-card-title>
                <mat-card-subtitle>Nhanh chóng</mat-card-subtitle>
                <p>
                  Lorem ipsum dolor sit amet, consectetur sea adipiscing elit. Sed tempus diamet nisl quis ornarod vivamus sem luctus.
                </p>
              </mat-card-content>
              <!-- <mat-card-actions>
                <button mat-button><a href="">Bắt đầu ngay</a></button>                    
                <button mat-button><a href="">Tìm hiểu thêm</a></button>
              </mat-card-actions> -->
            </mat-card>
          </div>
          <div class="col">
            <mat-card class="feature-card">
              <mat-card-content>
                <mat-card-title><i id="f5"><fa-icon [icon]="faCubes"></fa-icon></i></mat-card-title>
                <mat-card-subtitle>Đơn giản</mat-card-subtitle>
                <p>
                  Lorem ipsum dolor sit amet, consectetur sea adipiscing elit. Sed tempus diamet nisl quis ornarod vivamus sem luctus.
                </p>
              </mat-card-content>
              <!-- <mat-card-actions>
                <button mat-button><a href="">Bắt đầu ngay</a></button>                    
                <button mat-button><a href="">Tìm hiểu thêm</a></button>
              </mat-card-actions> -->
            </mat-card>
          </div>
          <div class="col">
            <mat-card class="feature-card">
              <mat-card-content>
                <mat-card-title><i id="f6"><fa-icon [icon]="faMobileAlt"></fa-icon></i></mat-card-title>
                <mat-card-subtitle>Tiện lợi</mat-card-subtitle>
                <p>
                  Lorem ipsum dolor sit amet, consectetur sea adipiscing elit. Sed tempus diamet nisl quis ornarod vivamus sem luctus.
                </p>
              </mat-card-content>
              <!-- <mat-card-actions>
                <button mat-button><a href="">Bắt đầu ngay</a></button>                    
                <button mat-button><a href="">Tìm hiểu thêm</a></button>
              </mat-card-actions> -->
            </mat-card>
          </div>
        </div>
          <div class="redirector">
            <button mat-button><a href="" id="startButton">Bắt đầu ngay</a></button>                    
            <button mat-button><a href="" id="learnmoreButton">Tìm hiểu thêm</a></button>
          </div>
      </div>
    </div>
</div>
