<div class="mt-2r">
  <div *ngIf="!selectedUser" class="body-spinner">
    <mat-spinner mode="indeterminate"></mat-spinner>
  </div>
  <div class="container">
    <div *ngIf="selectedUser" class="user-info">
      <div class="info-head rounded shadow-sm p-3">
        <div class="info-content row justify-content-center">
          <div class="col-auto align-self-center">
            <img *ngIf="!selectedUserAvatar" class="avatar" src="/assets/img/defaultavataruser.svg" alt="user avatar">
            <img *ngIf="selectedUserAvatar" (click)="openUri(selectedUserAvatar.original)" class="avatar" [defaultImage]="selectedUserAvatar.small" [lazyLoad]="selectedUserAvatar.mimeType === 'image/gif' ? selectedUserAvatar.original : selectedUserAvatar.thumbnail" alt="user avatar">
          </div>
          <div class="col-lg-8 align-self-center">
            <h5>Họ Tên</h5>
            <p>{{selectedUser.firstName}} {{selectedUser.lastName}}</p>
            <h5>Email</h5>
            <p>{{selectedUser.email}}</p>
          </div>
          <div class="col-auto">
            <button [routerLink]="['/users', 'edit', userId]" mat-flat-button color="primary">Thay đổi</button>
            <button [routerLink]="['/accounts', 'create', userId]" class="d-block mt-1" mat-flat-button color="primary">Tạo tài khoản</button>
            <button (click)="return()" class="d-block mt-1" mat-flat-button color="primary">Quay lại</button>
          </div>
        </div>
      </div>
      <div *ngIf="selectedUser.approveStatus === 2" class="info-approval mt-2r">
        <h4 class="fw-600">Phê duyệt người dùng</h4>
        <div class="info-content">
          <h5>Người dùng đã yêu cầu kích hoạt tài khoản</h5>
          <div *ngIf="submittedIdCards.length > 0" class="image-container rounded text-center">
            <img *ngFor="let pic of submittedIdCards" (click)="openUri(pic.original)" class="rounded" [defaultImage]="pic.small" [lazyLoad]="pic.normal" [alt]="pic.file">
          </div>
          <div class="d-flex mt-2">
            <button class="ml-auto" (click)="approveUser()" mat-flat-button color="primary">Chấp nhận</button>
            <button class="ml-1" (click)="declineUser()" mat-flat-button color="primary">Từ chối</button>
          </div>
        </div>
      </div>
      <div class="info-detail mt-2r">
        <h4 class="fw-600">Thông tin chi tiết</h4>
        <div class="info-content row">
          <div class="col-md-5">
            <h5>Ngày sinh</h5>
            <p>{{selectedUser.dateOfBirth}}</p>
            <h5>CMND/CCCD</h5>
            <p>{{selectedUser.citizenIdentificationId || 'Chưa cập nhật'}}</p>
            <h5>Địa chỉ</h5>
            <p>{{selectedUser.address}}</p>
            <h5>Số điện thoại</h5>
            <p>{{selectedUser.phoneNumber}}</p>
          </div>
          <div class="col-md-4">
            <h5>Loại giấy tờ</h5>
            <p>{{selectedUser.identificationType || 'Chưa cập nhật'}}</p>
            <h5>Ngày cấp</h5>
            <p>{{selectedUser.issueDate || 'Chưa cập nhật'}}</p>
            <h5>Loại người dùng</h5>
            <p>{{selectedUser.userType === 0 ? 'Nhân viên' : 'Khách hàng'}}</p>
            <h5>Ngày tham gia</h5>
            <p>{{selectedUser.createdAt}}</p>
          </div>
          <div class="col-md-3">
            <h5>Phê duyệt giấy tờ</h5>
            <p>{{selectedUser.approveStatus === 2 ? 'Đang chờ' : selectedUser.approveStatus === 1 ? 'Đã phê duyệt' : 'Không được duyệt'}}</p>
            <h5>Kích hoạt email</h5>
            <p>{{selectedUser.emailVerified === 1 ? 'Đã kích hoạt' : 'Chưa kích hoạt'}}</p>
            <h5>Tình trạng</h5>
            <p>{{selectedUser.status === 1 ? 'Bình thường' : 'Bị khóa'}}</p>
            <h5>Xác minh 2 bước</h5>
            <p>{{selectedUser.enable2fa === 1 ? 'Đang bật' : 'Đang tắt'}}</p>
          </div>
        </div>
      </div>
      <div class="info-account mt-2r">
        <h4 class="fw-600">Tài khoản ngân hàng</h4>
        <div class="info-content">
          <app-account-management [userId]="selectedUser.id"></app-account-management>
        </div>
      </div>
    </div>
  </div>
</div>