<mat-nav-list *ngIf="currentUser">
  <div class="user-nav">
    <a mat-list-item routerLink="/dashboard">
      <mat-icon mat-list-icon>home</mat-icon>
      <div mat-line>Tổng quan</div>
    </a>
    <a mat-list-item routerLink="/">
      <mat-icon mat-list-icon>person</mat-icon>
      <div mat-line>Tài khoản</div>
    </a>
    <a mat-list-item routerLink="/">
      <mat-icon mat-list-icon>history</mat-icon>
      <div mat-line>Lịch sử giao dịch</div>
    </a>
    <a mat-list-item routerLink="/">
      <mat-icon mat-list-icon>attach_money</mat-icon>
      <div mat-line>Chuyển khoản</div>
    </a>
  </div>
  <mat-divider></mat-divider>
  <div *ngIf="currentUser.userType === 0" class="manager-nav">
    <a mat-list-item routerLink="/">
      <mat-icon mat-list-icon>people</mat-icon>
      <div mat-line>Quản lý người dùng</div>
    </a>
    <a mat-list-item routerLink="/">
      <mat-icon mat-list-icon>check_circle</mat-icon>
      <div mat-line>Xử lí giao dịch</div>
    </a>
    <a mat-list-item routerLink="/">
      <mat-icon mat-list-icon>event_note</mat-icon>
      <div mat-line>Nhật kí hoạt động</div>
    </a>
  </div>
  <mat-divider></mat-divider>
  <div class="other-nav">
    <a mat-list-item routerLink="/">
      <mat-icon mat-list-icon>settings</mat-icon>
      <div mat-line>Thiết lập</div>
    </a>
    <a mat-list-item (click)="logout()">
      <mat-icon mat-list-icon>logout</mat-icon>
      <div mat-line>Đăng xuất</div>
    </a>
  </div>
</mat-nav-list>