/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
$font-primary: "DM Mono", Arial, sans-serif;
$font-secondary: Roboto, "Helvetica Neue", sans-serif;
$purple: #8a15ff;
$blue: #3800e7;
$ltblue: #15e0ff;
$magenta: #d000c5;

html {
  font-family: $font-primary;
}

a {
  transition: 0.5s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  outline: 0 !important;
}

a, a:hover {
  text-decoration: none;
}

.mat-body {
  margin: 0;
  font-family: $font-secondary;
  input {
    height: 100%;
  }
  button:focus {
    outline: none;
  }
  .mat-page {
    padding-top: 65px;
  }
}

.br-5px {
  border-radius: 5px;
}

.br-10px {
  border-radius: 10px;
}

.p-32px {
  padding: 32px;
}

.pt-32px {
  padding-top: 32px;
}

.pl-32px {
  padding-left: 32px;
}

.pr-32px {
  padding-right: 32px;
}

.pb-32px {
  padding-bottom: 32px;
}

.mt-2r {
  margin-top: 2rem !important;
}

.body-spinner {
  margin: 15vh auto;
}