<div class="mt-2r">
  <div class="container">
    <div class="update-form ml-auto mr-auto br-10px">
      <div [ngClass]="loading ? 'visible' : 'invisible'">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div class="update-inner">
        <h2 class="mb-3 text-center">ĐỔI MẬT KHẨU</h2>
        <form [formGroup]="updatePasswordForm" (ngSubmit)="onUpdatePassword(updatePasswordForm.value)">
          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Mật khẩu hiện tại</mat-label>
              <input [type]="hidePassword ? 'password' : 'text'" formControlName="currentpassword" matInput>
              <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [disabled]="loading"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="currentpassword.errors?.required">
                Mật khẩu hiện tại là <strong>bắt buộc</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Mật khẩu mới</mat-label>
              <input [type]="hidePassword ? 'password' : 'text'" formControlName="newpassword" matInput>
              <mat-error *ngIf="newpassword.errors?.required">
                Mật khẩu mới là <strong>bắt buộc</strong>
              </mat-error>
              <mat-error *ngIf="newpassword.errors?.minlength">
                Mật khẩu phải có ít nhất <strong>8 kí tự</strong>
              </mat-error>
              <mat-error *ngIf="newpassword.errors?.maxlength">
                Mật khẩu không được vượt quá <strong>128 kí tự</strong>
              </mat-error>
              <mat-error *ngIf="newpassword.errors?.pattern">
                Mật khẩu phải bắt đầu bằng <strong>chữ cái</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Xác nhận</mat-label>
              <input [type]="hidePassword ? 'password' : 'text'" formControlName="confirmpassword" matInput>
              <mat-error *ngIf="confirmpassword.errors?.required">
                Xác nhận mật khẩu là <strong>bắt buộc</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="d-flex mt-2">
            <div>
              <button type="button" (click)="return()" mat-button color="primary" [disabled]="loading">Quay lại</button>
            </div>
            <div class="ml-auto">
              <button type="submit" mat-flat-button color="primary" [disabled]="loading">Thay đổi</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>