<footer class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="single-footer-widget">
          <div class="logo"><a href="#"><img src="/assets/img/whitefoologocap.png" alt="logo"></a>
            <p>Hệ thống ngân hàng xuyên quốc gia đáng tin cậy. Dẫn đầu trong danh sách các ngân hàng được người dùng bình chọn và được tin dùng bởi hàng triệu người dùng ở hầu hết các quốc gia trên thế giới.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="single-footer-widget pl-5">
          <h3>Giới Thiệu</h3>
          <ul class="list">
            <li><a href="#">Về chúng tôi</a></li>
            <li><a href="#">Dịch vụ</a></li>
            <li><a href="#">Tính năng</a></li>
            <li><a href="#">Bảng giá</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="single-footer-widget">
          <h3>Hỗ Trợ</h3>
          <ul class="list">
            <li><a href="#">Câu hỏi thường gặp</a></li>
            <li><a href="#">Chính sách bảo mật</a></li>
            <li><a href="#">Điều khoản sử dụng</a></li>
            <li><a href="#">Liên hệ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="single-footer-widget">
          <h3>Liên Hệ</h3>
          <ul class="footer-contact-info">
            <li><span class="mr-1">Địa chỉ:</span>227 Đường Nguyễn Văn Cừ, Phường 4, Quận 5, Hồ Chí Minh</li>
            <li><span class="mr-1">Email:</span>vghuy17ck1@gmail.com</li>
            <li><span class="mr-1">Phone:</span>(+84) 1234567890</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <p>2020 Whitefoo Corporation - Copyright lololol</p>
  </div>
</footer>