<header>
  <div class="mat-body">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
      <button *ngIf="allowMenu" mat-icon-button (click)="openSideNav()">
        <mat-icon>menu</mat-icon>
      </button>
      <a class="navbar-brand mr-auto" routerLink="/">
        <img src="/assets/img/whitefoologohead.png" alt="logo">
        <img src="/assets/img/whitefoologocap.png" alt="logo">
      </a>
      <div *ngIf="allowMenu" xPosition="before">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="user-menu">
          <div class="user-info text-center pl-5 pr-5" *ngIf="currentUser">
            <img class="avatar" src="/assets/img/whitefoologohead.png" alt="avatar">
            <p class="mt-3 mb-0">{{currentUser.firstName}} {{currentUser.lastName}}</p>
            <p class="text-muted">{{currentUser.email}}</p>
          </div>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Đăng xuất</span>
          </button>
        </mat-menu>
      </div>
    </nav>
  </div>
</header>