<div class="mat-body">
    <div class="mat-page">
      <br>
      <h2 class="faq-title">CÁC CÂU HỎI THƯỜNG GẶP</h2>
      <div class="container">
        <div class="faq-list">
          <mat-accordion>
            <div class="faq">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Khách hàng có thể mở tài khoản thanh toán với những loại tiền gì ?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <p>Các loại tiền mở tài khoản thanh toán: VND và USD.</p>
              </mat-expansion-panel>
            </div>
            <div class="faq">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Tài khoản thanh toán cá nhân VND và ngoại tệ có yêu cầu duy trì số dư tối thiểu không ?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <p>Tài khoản thanh toán cá nhân VND yêu cầu duy trì số dư tối thiểu là 50.000 VND.</p>
                <p>Tài khoản thanh toán cá nhân ngoại tệ không yêu cầu duy trì số dư tối thiểu.</p>
              </mat-expansion-panel>
            </div>
            <div class="faq">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Khách hàng có thể tra cứu số dư hoặc thông tin giao dịch tài khoản mà không cần phải đến ngân hàng ?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <p>Khách hàng có thể cập nhật được số dư và các thông tin giao dịch tài khoản thông qua dịch vụ báo số dư qua email và dịch vụ Ngân hàng điện tử Internet Banking và Mobile Banking. Khách hàng phải đăng ký để được sử dụng dịch vụ.</p>
              </mat-expansion-panel>
            </div>
            <div class="faq">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Khách hàng có nhu cầu ủy quyền Tài khoản thanh toán cho người khác có được hay không ?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <p>Được. Khách hàng có thể làm thủ tục ủy quyền Tài khoản thanh toán của mình cho người khác tại ở bất kỳ điểm giao dịch nào của Whitefoo Bank.</p>
              </mat-expansion-panel>
            </div>            
            <div class="faq">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Whitefoo Bank nhận gửi tiết kiệm có kỳ hạn những loại tiền gì?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <p>Whitefoo Bank nhận gửi các loại tiền VND và USD.</p>
              </mat-expansion-panel>
            </div>
            <div class="faq">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Gửi tiết kiệm có kỳ hạn có những hình thức lĩnh lãi nào ?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <p>Khách hàng có thể lựa chọn các hình thức lĩnh lãi: định kỳ hàng tháng, định kỳ hàng quý, lĩnh lãi 1 lần khi sổ tiết kiệm đến hạn (lĩnh lãi cuối kỳ) hoặc lĩnh lãi trước khi vừa mở sổ tiết kiệm (lãi trả trước).</p>
              </mat-expansion-panel>
            </div>
            <div class="faq">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Khách hàng có thể tất toán Thẻ tiết kiệm ở chi nhánh khác chi nhánh gửi tiền không ?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <p>Có. Khách hàng có thể tất toán Thẻ tiết kiệm ở bất kỳ điểm giao dịch nào của Whitefoo Bank.</p>
              </mat-expansion-panel>
            </div>
            <div class="faq">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Khách hàng có thể tất toán Thẻ tiết kiệm trước ngày đáo hạn được không ?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <p>Được. Khách hàng có thể rút trước hạn Thẻ tiết kiệm khi có nhu cầu, trừ các trường hợp sản phẩm có quy định riêng.</p>
              </mat-expansion-panel>
            </div>
            <div class="faq">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Khách hàng có nhu cầu chuyển quyền sở hữu Thẻ tiết kiệm cho người khác có được hay không ?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <p>Được. Khách hàng hoàn toàn có thể chuyển quyền sở hữu Thẻ tiết kiệm của mình cho người khác. Để làm thủ tục chuyển quyền sở hữu, khách hàng phải đến đúng chi nhánh mở Thẻ tiết kiệm.</p>
              </mat-expansion-panel>
            </div>
            <div class="faq">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Khách hàng có nhu cầu ủy quyền Thẻ tiết kiệm cho người khác có được hay không ?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <p>Được. Khách hàng có thể làm thủ tục ủy quyền Thẻ tiết kiệm của mình cho người khác tại ở bất kỳ điểm giao dịch nào của Whitefoo Bank.</p>
              </mat-expansion-panel>
            </div>
          </mat-accordion>
          <div class="redirector">
            <button mat-button>
                <a routerLink="/contact">Liên hệ trực tiếp để giải đáp các thắc mắc &#8594;</a>
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
